<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tomasapp.catchme" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>catchme</name>
    <description>
        Catchme
    </description>
     <author email="tomas.navarro@gmail.com" href="http://tomasapp.com">
        tomasnama
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <!-- <preference name="Orientation" value="portrait"/> -->
    <preference name="Orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />

   
</widget>
