<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tomasapp.ballgame" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ball-game</name>
    <description>
        A ball-game app.
    </description>
    <author email="tomas.navarro@gmail.com" href="http://tomasapp.com">
        tomasnama
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
